*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #CBDF90;
    font-family: futura;
}
h1{
  font-family:'Grand Hotel', cursive;
}
header{
  background-color: #DEF4C6
}

header h1{
  font-size: 4em;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #8FAD88;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border-radius: 15px;
  cursor: pointer;
  border: none;
}

input[type=submit]:hover {
  background-color: #00A9A5;
}

#del{
  background-color: #8FAD88;
  opacity: 0.5;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  cursor: pointer;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;    
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div {
  padding: 10px;
}

li{
    background-color: #4D7C8A;
    color: white;
    padding: 15px;
    margin: 10px;
    list-style: none;
}